# Databases

## Draw ER Diagram
Create an ER diagram for a public library. Show the outline of the relations that can be created from that diagram.

## Run SQL Statements
You have relation A as shown below. Show the resulting relation if you apply the following SQL statements.
| A1 | A2 | A3  |
| -- | -- | --- |
| 1  | 12 | 100 |
| 2  | 16 | 102 |
| 3  | 16 | 103 |
| 4  | 19 | 104 |

- select * from A where A2 = 16
- select A1 A2 from A where A2 = 16
- select A3 from A
- update A set A1 = 37 where A1 = 4

## Normalization
Is the following relation in first normal form (1NF)? If not, change the table to make it pass 1NF criteria.
| A | B          | C     | D      |
| - | ---------- | ----- | ------ |
| 1 | 70         | 65    | 14     |
| 2 | 25, 32, 71 | 24    | 12, 18 |
| 3 | 32         | 6, 11 | 18     |